
body{
    background-color: brown;
}
.location-title{
    
    display: flex;
    justify-content: center;  
}
#animearth{
    width: 120px;
    height: 120px;
}

#locationtitle{
    margin-top: 40px;
}

.location-body{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}
#search{
    outline: none;
    font-weight: 600;
    color: cadetblue;
    font-size: 20px;
    outline-color: none;
    border-radius: 4px;
}
.placeholder{
    width: 20px;
}
body{
    margin-top: 150px;
}